<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Classify - Menu</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/chatbot.css}">
    <link rel="shortcut icon" th:href="@{img/favicon.ico}" type="image/x-icon">
</head>

<body>
    <header class="brandinicio">
        <div class="brand">
            <a th:href="@{/inicio}"><img th:src="@{/img/logo.png}" alt="logo" class="logo"></a>
            <a th:href="@{/inicio}">Classify</a>
        </div>
    
        <div class="brand2">
            <a th:href="@{/inicio}" class="info-btn" alt="Información">Inicio</a>
            <a th:href="@{/nosotros}" class="info-btn" alt="Información">Nosotros</a>
            <a th:href="@{/contacto}" class="info-btn" alt="Información">Contacto</a>

        </div>
    
        <div>
            <a href="#info" class="info-btn">
                <img th:src="@{/img/informacion.png}" alt="Información" class="info-icon">
                <img th:src="@{/img/informacion.png}" alt="Información" class="info-icon">
            </a>
            <div id="info" class="info-panel">
                <div class="info-content">
                    <a href="#" class="close">&times;</a>
                    <img th:src="@{/img/agenda.png}" width="80px">
                    <h4>¿Porque agendas tus clases?</h4>
                    <p class="textoinfo">La implementación de una página web para agendar clases en el colegio Moralba Sur
                        Oriental representa una herramienta fundamental para optimizar la organización académica y fortalecer
                        la comunicación entre estudiantes, docentes y la institución.
                        En primer lugar, la plataforma permite a los estudiantes y padres de familia consultar de manera
                        rápida y sencilla la disponibilidad de horarios, evitando confusiones o cruces en las actividades
                        escolares. <br><br>Esto garantiza una mejor planificación del tiempo, tanto dentro como fuera del
                        aula.
                        Por otro lado, los docentes pueden gestionar sus clases de forma más eficiente, teniendo acceso a un
                        calendario actualizado que facilita la asignación de sesiones, el control de grupos y la preparación
                        de materiales según la programación establecida. <br><br>
                        Asimismo, para la institución educativa, la página constituye una herramienta de gestión que
                        contribuye a la transparencia y al orden administrativo, ya que centraliza la información en un solo
                        espacio digital accesible desde cualquier dispositivo con conexión a internet. <br><br>
                        En conclusión, contar con una página para agendar clases no solo mejora la organización interna del
                        colegio Moralba Sur Oriental, sino que también fortalece la participación de la comunidad educativa,
                        fomenta la puntualidad, evita pérdidas de tiempo y favorece un proceso de enseñanza-aprendizaje más
                        planificado y efectivo.
                    </p>
                </div>
            </div>
        </div>
    </header>

    <aside class="sidebar">
        <!-- botón común para todos -->
        <a th:href="@{/menu}" class="inicioprincipal">
            <img th:src="@{/img/home.png}" width="25px" class="imgmenu"> Inicio
        </a>

            <a th:href="@{/agenda}" class="inicioprincipal2">
                <img th:src="@{/img/agenda.png}" width="25px" class="imgmenu">Agendar clase
            </a>

            <a th:href="@{/agenda}" class="inicioprincipal2">
                <img th:src="@{/img/noticias.png}" width="25px" class="imgmenu">Noticias
            </a>
            <a th:href="@{/programacion}" class="inicioprincipal2">
                <img th:src="@{/img/programacion.png}" width="25px" class="imgmenu">Programación
            </a>
            <a th:href="@{/aprende}" class="inicioprincipal2">
                <img th:src="@{/img/aprende.png}" width="25px" class="imgmenu">Aprende
            </a>
            <a th:href="@{/contacta}" class="inicioprincipal2">
                <img th:src="@{/img/gmail.png}" width="25px" class="imgmenu">Contacta a un profe
            </a>
            <a th:href="@{/mismateriales}" class="inicioprincipal2">
                <img th:src="@{/img/descargamaterial.png}" width="25px" class="imgmenu">Mis Materiales
            </a>
            <a th:href="@{/materiales}" class="inicioprincipal2">
                <img th:src="@{/img/upload.png}" width="25px" class="imgmenu">Carga Materiales
            </a>
            <!-- <a th:href="@{/califica}" class="inicioprincipal2">
                <img th:src="@{/img/califica.png}" width="25px" class="imgmenu">Califica un profe
            </a> -->
            <!-- <a th:href="@{/izada}" class="inicioprincipal2">
                <img th:src="@{/img/estrella.png}" width="25px" class="imgmenu">Izada de bandera
            </a> -->
            <!-- <a th:href="@{/notas}" class="inicioprincipal2">
                <img th:src="@{/img/notas.png}" width="25px" class="imgmenu">Notas
            </a> -->
  
    </aside>


    <main class="contentagenda">
        <div class="login-wrapper">
            <div class="login-container">
                <div class="titleagenda">
                    <div class="imagenagenda">
                        <img th:src="@{/img/agenda.gif}" width="100px">
                    </div>
                    <h2>Agendar nueva clase</h2>
                </div>

                <div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"></div>

                <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>

                <div class="alert alert-danger" th:if="${errors != null and !errors.isEmpty()}">
                    <ul>
                        <li th:each="error : ${errors}" th:text="${error}"></li>
                    </ul>
                </div>

                <form th:action="@{/agenda}" method="post" class="login-form" id="agendaForm">
                    <input type="hidden" name="usuario_id" value="1">

                    <div class="custom-select">
                        <label class="labelagend">Materias</label>
                        <select name="materia" class="custom-agenda" required>
                            <option value="">Selecciona una materia</option>
                            <option class="custom-options" value="Matemáticas">Matemáticas</option>
                            <option class="custom-options" value="Lengua Castellana">Lengua Castellana</option>
                            <option class="custom-options" value="Biología">Biología</option>
                            <option class="custom-options" value="Química">Química</option>
                            <option class="custom-options" value="Física">Física</option>
                            <option class="custom-options" value="Historia">Historia</option>
                            <option class="custom-options" value="Geografía">Geografía</option>
                            <option class="custom-options" value="Constitución y Democracia">Constitución y Democracia</option>
                            <option class="custom-options" value="Inglés">Inglés</option>
                            <option class="custom-options" value="Tecnología e Informática">Tecnología e Informática</option>
                            <option class="custom-options" value="Educación Artística">Educación Artística</option>
                            <option class="custom-options" value="Educación Física">Educación Física</option>
                            <option class="custom-options" value="Religión">Religión</option>
                            <option class="custom-options" value="Ética y Valores">Ética y Valores</option>
                        </select>
                    </div>

                    <div class="custom-select">
                        <label class="labelagend">Profesor</label>
                        <select name="profesor" class="custom-agenda" required>
                            <option value="">Selecciona un profesor</option>
                            <option class="custom-options" value="Camilo Rodriguez">Camilo Rodriguez</option>
                            <option class="custom-options" value="Luis Hernandez">Luis Hernandez</option>
                            <option class="custom-options" value="Bruno Fernandez">Bruno Fernandez</option>
                            <option class="custom-options" value="Juan Perez">Juan Perez</option>
                            <option class="custom-options" value="Andres Hernandez">Andres Hernandez</option>
                            <option class="custom-options" value="Tomas Díaz">Tomas Díaz</option>
                            <option class="custom-options" value="Jorge Castillo">Jorge Castillo</option>
                        </select>
                    </div>

                    <div class="custom-select">
                        <label class="labelagend">Horario</label>
                        <select name="hora" class="custom-agenda" required>
                            <option value="">Selecciona una hora</option>
                            <option class="custom-options" value="07:00 a.m. a 09:00 a.m.">07:00 a.m. a 09:00 a.m.</option>
                            <option class="custom-options" value="09:00 a.m. a 11:00 a.m.">09:00 a.m. a 11:00 a.m.</option>
                            <option class="custom-options" value="11:00 a.m. a 01:00 p.m.">11:00 a.m. a 01:00 p.m.</option>
                            <option class="custom-options" value="01:00 p.m. a 03:00 p.m.">01:00 p.m. a 03:00 p.m.</option>
                        </select>
                    </div>

                    <div class="custom-select">
                        <label class="labelagend">Curso</label>
                        <select name="curso" class="custom-agenda" required>
                            <option value="">Selecciona un curso</option>
                            <option class="custom-options" value="501">501</option>
                            <option class="custom-options" value="502">502</option>
                            <option class="custom-options" value="503">503</option>
                            <option class="custom-options" value="504">504</option>
                            <option class="custom-options" value="601">601</option>
                            <option class="custom-options" value="602">602</option>
                            <option class="custom-options" value="603">603</option>
                            <option class="custom-options" value="604">604</option>
                        </select>
                    </div>

                    <label class="labelagend">Observaciones</label>
                    <textarea name="observaciones" class="custom-options-observ" placeholder="Observaciones" required></textarea>

                    <button type="submit">Guardar</button>
                </form>

                <div id="agendaConfirmModal" class="agenda-modal">
                    <div class="agenda-modal-content">
                        <div class="agenda-modal-icon">
                            <img th:src="@{/img/ok.gif}" width="80" alt="¡Genial!">
                        </div>
                        <h3 class="agenda-modal-title">¡Clase Guardada!</h3>
                        <h4 class="agenda-modal-text">La clase ha sido agendada exitosamente</h4>
                        <h5 class="agenda-modal-text2">Revisa la tabla programacion</h5>
                        <div class="agenda-modal-progress">
                            <div class="agenda-progress-bar"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <script th:inline="javascript">
        const baseUrl = /*[[@{/}]]*/ '/';
    </script>
    <script th:src="@{/js/active.js}"></script>
    <script th:src="@{/js/modalagenda.js}"></script>
    <script th:src="@{/js/chatbot.js}"></script>

</body>

</html>