<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Classify - Agendar</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>

<body>
    <header>
        <div class="brand">
            <a th:href="@{/menu}"><img th:src="@{/img/logo.png}" alt="logo" class="logo"></a>
            <a th:href="@{/menu}">Classify</a>
        </div>
        <div>
            <div class="right">
                <a th:href="@{/noticias}" alt="Noticias">
                    <img th:src="@{/img/noticias.png}" class="iconostop">
                </a>
                <a><img th:src="@{/img/separador.png}" class="separador"></a>
                <a th:href="@{/login}" alt="Cerrar sesión">
                    <img th:src="@{/img/salida.png}" class="salida">
                </a>
            </div>
        </div>
    </header>

    <aside class="sidebar">
        <a th:href="@{/menu}" class="inicioprincipal">
            <img th:src="@{/img/home.png}" width="25px" class="imgmenu"> Inicio
        </a>

        <th:block th:if="${session.perfil == 1}">
            <a th:href="@{/agenda}" class="inicioprincipal2">
                <img th:src="@{/img/agenda.png}" width="25px" class="imgmenu">Agendar clase
            </a>
            <a th:href="@{/programacion}" class="inicioprincipal2">
                <img th:src="@{/img/programacion.png}" width="25px" class="imgmenu">Programación
            </a>
            <a th:href="@{/aprende}" class="inicioprincipal2">
                <img th:src="@{/img/aprende.png}" width="25px" class="imgmenu">Aprende
            </a>
            <a th:href="@{/contacta}" class="inicioprincipal2">
                <img th:src="@{/img/gmail.png}" width="25px" class="imgmenu">Contacta a un profe
            </a>
            <a th:href="@{/mismateriales}" class="inicioprincipal2">
                <img th:src="@{/img/descargamaterial.png}" width="25px" class="imgmenu">Mis Materiales
            </a>
            <a th:href="@{/materiales}" class="inicioprincipal2">
                <img th:src="@{/img/upload.png}" width="25px" class="imgmenu">Carga Materiales
            </a>
            <a th:href="@{/califica}" class="inicioprincipal2">
                <img th:src="@{/img/califica.png}" width="25px" class="imgmenu">Califica un profe
            </a>
            <a th:href="@{/izada}" class="inicioprincipal2">
                <img th:src="@{/img/estrella.png}" width="25px" class="imgmenu">Izada de bandera
            </a>
            <a th:href="@{/notas}" class="inicioprincipal2">
                <img th:src="@{/img/notas.png}" width="25px" class="imgmenu">Notas
            </a>
        </th:block>

        <th:block th:if="${session.perfil == 2}">
            <a th:href="@{/agenda}" class="inicioprincipal2">
                <img th:src="@{/img/agenda.png}" width="25px" class="imgmenu">Agendar clase
            </a>
            <a th:href="@{/programacion}" class="inicioprincipal2">
                <img th:src="@{/img/programacion.png}" width="25px" class="imgmenu">Programación
            </a>
            <a th:href="@{/aprende}" class="inicioprincipal2">
                <img th:src="@{/img/aprende.png}" width="25px" class="imgmenu">Aprende
            </a>
            <a th:href="@{/contacta}" class="inicioprincipal2">
                <img th:src="@{/img/gmail.png}" width="25px" class="imgmenu">Contacta a un profe
            </a>
            <a th:href="@{/materiales}" class="inicioprincipal2">
                <img th:src="@{/img/upload.png}" width="25px" class="imgmenu">Carga Materiales
            </a>
            <a th:href="@{/califica}" class="inicioprincipal2">
                <img th:src="@{/img/califica.png}" width="25px" class="imgmenu">Califica un profe
            </a>
            <a th:href="@{/izada}" class="inicioprincipal2">
                <img th:src="@{/img/estrella.png}" width="25px" class="imgmenu">Izada de bandera
            </a>
            <a th:href="@{/notas}" class="inicioprincipal2">
                <img th:src="@{/img/notas.png}" width="25px" class="imgmenu">Notas
            </a>
        </th:block>

        <th:block th:if="${session.perfil == 3}">
            <a th:href="@{/programacion}" class="inicioprincipal2">
                <img th:src="@{/img/programacion.png}" width="25px" class="imgmenu">Programación
            </a>
            <a th:href="@{/aprende}" class="inicioprincipal2">
                <img th:src="@{/img/aprende.png}" width="25px" class="imgmenu">Aprende
            </a>
            <a th:href="@{/materiales}" class="inicioprincipal2">
                <img th:src="@{/img/upload.png}" width="25px" class="imgmenu">Carga Materiales
            </a>
            <a th:href="@{/izada}" class="inicioprincipal2">
                <img th:src="@{/img/estrella.png}" width="25px" class="imgmenu">Izada de bandera
            </a>
        </th:block>

        <th:block th:if="${session.perfil == 4}">
            <a th:href="@{/programacion}" class="inicioprincipal2">
                <img th:src="@{/img/programacion.png}" width="25px" class="imgmenu">Programación
            </a>
            <a th:href="@{/aprende}" class="inicioprincipal2">
                <img th:src="@{/img/aprende.png}" width="25px" class="imgmenu">Aprende
            </a>
            <a th:href="@{/contacta}" class="inicioprincipal2">
                <img th:src="@{/img/gmail.png}" width="25px" class="imgmenu">Contacta a un profe
            </a>
            <a th:href="@{/mismateriales}" class="inicioprincipal2">
                <img th:src="@{/img/upload.png}" width="25px" class="imgmenu">Mis Materiales
            </a>
            <a th:href="@{/izada}" class="inicioprincipal2">
                <img th:src="@{/img/estrella.png}" width="25px" class="imgmenu">Izada de bandera
            </a>
        </th:block>

        <th:block th:if="${session.perfil == 5}">
            <a th:href="@{/programacion}" class="inicioprincipal2">
                <img th:src="@{/img/programacion.png}" width="25px" class="imgmenu">Programación
            </a>
            <a th:href="@{/aprende}" class="inicioprincipal2">
                <img th:src="@{/img/aprende.png}" width="25px" class="imgmenu">Aprende
            </a>
            <a th:href="@{/contacta}" class="inicioprincipal2">
                <img th:src="@{/img/gmail.png}" width="25px" class="imgmenu">Contacta a un profe
            </a>
            <a th:href="@{/mismateriales}" class="inicioprincipal2">
                <img th:src="@{/img/upload.png}" width="25px" class="imgmenu">Mis Materiales
            </a>
            <a th:href="@{/califica}" class="inicioprincipal2">
                <img th:src="@{/img/califica.png}" width="25px" class="imgmenu">Califica un profe
            </a>
            <a th:href="@{/izada}" class="inicioprincipal2">
                <img th:src="@{/img/estrella.png}" width="25px" class="imgmenu">Izada de bandera
            </a>
        </th:block>
    </aside>

    <main class="contentagenda">
        <div class="login-wrapper">
            <div class="login-container">
                <div class="titleagenda">
                    <div class="imagenagenda">
                        <img th:src="@{/img/agenda.gif}" width="100px">
                    </div>
                    <h2>Agendar nueva clase</h2>
                </div>

                <div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"></div>

                <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>

                <div class="alert alert-danger" th:if="${errors != null and !errors.isEmpty()}">
                    <ul>
                        <li th:each="error : ${errors}" th:text="${error}"></li>
                    </ul>
                </div>

                <form th:action="@{/agenda}" method="post" class="login-form" id="agendaForm">
                    <input type="hidden" name="usuario_id" value="1">

                    <div class="custom-select">
                        <label class="labelagend">Materias</label>
                        <select name="materia" class="custom-agenda" required>
                            <option value="">Selecciona una materia</option>
                            <option class="custom-options" value="Matemáticas">Matemáticas</option>
                            <option class="custom-options" value="Lengua Castellana">Lengua Castellana</option>
                            <option class="custom-options" value="Biología">Biología</option>
                            <option class="custom-options" value="Química">Química</option>
                            <option class="custom-options" value="Física">Física</option>
                            <option class="custom-options" value="Historia">Historia</option>
                            <option class="custom-options" value="Geografía">Geografía</option>
                            <option class="custom-options" value="Constitución y Democracia">Constitución y Democracia</option>
                            <option class="custom-options" value="Inglés">Inglés</option>
                            <option class="custom-options" value="Tecnología e Informática">Tecnología e Informática</option>
                            <option class="custom-options" value="Educación Artística">Educación Artística</option>
                            <option class="custom-options" value="Educación Física">Educación Física</option>
                            <option class="custom-options" value="Religión">Religión</option>
                            <option class="custom-options" value="Ética y Valores">Ética y Valores</option>
                        </select>
                    </div>

                    <div class="custom-select">
                        <label class="labelagend">Profesor</label>
                        <select name="profesor" class="custom-agenda" required>
                            <option value="">Selecciona un profesor</option>
                            <option class="custom-options" value="Camilo Rodriguez">Camilo Rodriguez</option>
                            <option class="custom-options" value="Luis Hernandez">Luis Hernandez</option>
                            <option class="custom-options" value="Bruno Fernandez">Bruno Fernandez</option>
                            <option class="custom-options" value="Juan Perez">Juan Perez</option>
                            <option class="custom-options" value="Andres Hernandez">Andres Hernandez</option>
                            <option class="custom-options" value="Tomas Díaz">Tomas Díaz</option>
                            <option class="custom-options" value="Jorge Castillo">Jorge Castillo</option>
                        </select>
                    </div>

                    <div class="custom-select">
                        <label class="labelagend">Horario</label>
                        <select name="hora" class="custom-agenda" required>
                            <option value="">Selecciona una hora</option>
                            <option class="custom-options" value="07:00 a.m. a 09:00 a.m.">07:00 a.m. a 09:00 a.m.</option>
                            <option class="custom-options" value="09:00 a.m. a 11:00 a.m.">09:00 a.m. a 11:00 a.m.</option>
                            <option class="custom-options" value="11:00 a.m. a 01:00 p.m.">11:00 a.m. a 01:00 p.m.</option>
                            <option class="custom-options" value="01:00 p.m. a 03:00 p.m.">01:00 p.m. a 03:00 p.m.</option>
                        </select>
                    </div>

                    <div class="custom-select">
                        <label class="labelagend">Curso</label>
                        <select name="curso" class="custom-agenda" required>
                            <option value="">Selecciona un curso</option>
                            <option class="custom-options" value="501">501</option>
                            <option class="custom-options" value="502">502</option>
                            <option class="custom-options" value="503">503</option>
                            <option class="custom-options" value="504">504</option>
                            <option class="custom-options" value="601">601</option>
                            <option class="custom-options" value="602">602</option>
                            <option class="custom-options" value="603">603</option>
                            <option class="custom-options" value="604">604</option>
                        </select>
                    </div>

                    <label class="labelagend">Observaciones</label>
                    <textarea name="observaciones" class="custom-options-observ" placeholder="Observaciones" required></textarea>

                    <button type="submit">Guardar</button>
                </form>

                <div id="agendaConfirmModal" class="agenda-modal">
                    <div class="agenda-modal-content">
                        <div class="agenda-modal-icon">
                            <img th:src="@{/img/ok.gif}" width="80" alt="¡Genial!">
                        </div>
                        <h3 class="agenda-modal-title">¡Clase Guardada!</h3>
                        <h4 class="agenda-modal-text">La clase ha sido agendada exitosamente</h4>
                        <h5 class="agenda-modal-text2">Revisa la tabla programacion</h5>
                        <div class="agenda-modal-progress">
                            <div class="agenda-progress-bar"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <script th:inline="javascript">
        const baseUrl = /*[[@{/}]]*/ '/';
    </script>
    <script th:src="@{/js/active.js}"></script>
    <script th:src="@{/js/modalagenda.js}"></script>
    <script th:src="@{/js/chatbot.js}"></script>

</body>

</html>