<!-- Menú lateral de la plataforma (mismo aside.sidebar de Classify).
     Los enlaces regresan a las rutas de la app Spring Boot (puerto 8090);
     "Programación" es el elemento activo de este módulo. -->
<div class="menu-toggle" id="menuToggle">
    <span></span><span></span><span></span>
</div>

<aside class="sidebar">
    <a href="http://localhost:8090/menu" class="inicioprincipal2">
        <img src="http://localhost:8090/img/home.png" width="25px" class="imgmenu"> Inicio
    </a>
    <a href="http://localhost:8090/agenda" class="inicioprincipal2">
        <img src="http://localhost:8090/img/agenda.png" width="25px" class="imgmenu">Agendar clase
    </a>
    <a href="http://localhost:8090/noticias" class="inicioprincipal2">
        <img src="http://localhost:8090/img/noticias.png" width="25px" class="imgmenu">Noticias
    </a>
    <a href="/" class="inicioprincipal">
        <img src="http://localhost:8090/img/programacion.png" width="25px" class="imgmenu">Programación
    </a>
    <a href="http://localhost:8090/aprende" class="inicioprincipal2">
        <img src="http://localhost:8090/img/aprende.png" width="25px" class="imgmenu">Aprende
    </a>
    <a href="http://localhost:8090/contacta" class="inicioprincipal2">
        <img src="http://localhost:8090/img/gmail.png" width="25px" class="imgmenu">Contacta a un profe
    </a>
    <a href="http://localhost:8090/mismateriales" class="inicioprincipal2">
        <img src="http://localhost:8090/img/descargamaterial.png" width="25px" class="imgmenu">Mis Materiales
    </a>
    <a href="http://localhost:8090/materiales" class="inicioprincipal2">
        <img src="http://localhost:8090/img/upload.png" width="25px" class="imgmenu">Carga Materiales
    </a>
</aside>
