<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Classify - Noticias</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/chatbot.css}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>

<body>
    <header>
        <div class="brand">
            <a th:href="@{/login}"><img th:src="@{/img/logo.png}" alt="logo" class="logo"></a>
            <a th:href="@{/login}">Classify</a>
        </div>

        <!-- Saludo personalizado en el header -->
        <div class="saludo-header.opciones"
             th:if="${session.nombre != null and session.nombre != 'Usuario'}"
             th:text="'Hola, ' + ${#strings.capitalize(#strings.toLowerCase(session.nombre))} + '!'">
        </div>

        <div>
            <div class="right">
                <a th:href="@{/noticias}" alt="Noticias">
                    <img th:src="@{/img/noticias.png}" class="iconostop">
                </a>
                <a><img th:src="@{/img/separador.png}" class="separador"></a>
                <a th:href="@{/logout}" alt="Cerrar sesión">
                    <img th:src="@{/img/salida.png}" class="salida">
                </a>
            </div>
        </div>
    </header>

    <aside class="sidebar">
        <!-- botón común para todos -->
        <a th:href="@{/menu}" class="inicioprincipal">
            <img th:src="@{/img/home.png}" width="25px" class="imgmenu"> Inicio
        </a>

        <!-- Perfil 1: Administrador -->
        <th:block th:if="${session.perfil == 1}">
            <a th:href="@{/agenda}" class="inicioprincipal2">
                <img th:src="@{/img/agenda.png}" width="25px" class="imgmenu">Agendar clase
            </a>
            <a th:href="@{/programacion}" class="inicioprincipal2">
                <img th:src="@{/img/programacion.png}" width="25px" class="imgmenu">Programación
            </a>
            <a th:href="@{/aprende}" class="inicioprincipal2">
                <img th:src="@{/img/aprende.png}" width="25px" class="imgmenu">Aprende
            </a>
            <a th:href="@{/contacta}" class="inicioprincipal2">
                <img th:src="@{/img/gmail.png}" width="25px" class="imgmenu">Contacta a un profe
            </a>
            <a th:href="@{/mismateriales}" class="inicioprincipal2">
                <img th:src="@{/img/descargamaterial.png}" width="25px" class="imgmenu">Mis Materiales
            </a>
            <a th:href="@{/materiales}" class="inicioprincipal2">
                <img th:src="@{/img/upload.png}" width="25px" class="imgmenu">Carga Materiales
            </a>
            <a th:href="@{/califica}" class="inicioprincipal2">
                <img th:src="@{/img/califica.png}" width="25px" class="imgmenu">Califica un profe
            </a>
            <a th:href="@{/izada}" class="inicioprincipal2">
                <img th:src="@{/img/estrella.png}" width="25px" class="imgmenu">Izada de bandera
            </a>
            <a th:href="@{/notas}" class="inicioprincipal2">
                <img th:src="@{/img/notas.png}" width="25px" class="imgmenu">Notas
            </a>
        </th:block>

        <!-- Perfil 2: Coordinador -->
        <th:block th:if="${session.perfil == 2}">
            <a th:href="@{/agenda}" class="inicioprincipal2">
                <img th:src="@{/img/agenda.png}" width="25px" class="imgmenu">Agendar clase
            </a>
            <a th:href="@{/programacion}" class="inicioprincipal2">
                <img th:src="@{/img/programacion.png}" width="25px" class="imgmenu">Programación
            </a>
            <a th:href="@{/aprende}" class="inicioprincipal2">
                <img th:src="@{/img/aprende.png}" width="25px" class="imgmenu">Aprende
            </a>
            <a th:href="@{/contacta}" class="inicioprincipal2">
                <img th:src="@{/img/gmail.png}" width="25px" class="imgmenu">Contacta a un profe
            </a>
            <a th:href="@{/materiales}" class="inicioprincipal2">
                <img th:src="@{/img/upload.png}" width="25px" class="imgmenu">Carga Materiales
            </a>
            <a th:href="@{/califica}" class="inicioprincipal2">
                <img th:src="@{/img/califica.png}" width="25px" class="imgmenu">Califica un profe
            </a>
            <a th:href="@{/izada}" class="inicioprincipal2">
                <img th:src="@{/img/estrella.png}" width="25px" class="imgmenu">Izada de bandera
            </a>
            <a th:href="@{/notas}" class="inicioprincipal2">
                <img th:src="@{/img/notas.png}" width="25px" class="imgmenu">Notas
            </a>
        </th:block>

        <!-- Perfil 3: Docente -->
        <th:block th:if="${session.perfil == 3}">
            <a th:href="@{/programacion}" class="inicioprincipal2">
                <img th:src="@{/img/programacion.png}" width="25px" class="imgmenu">Programación
            </a>
            <a th:href="@{/aprende}" class="inicioprincipal2">
                <img th:src="@{/img/aprende.png}" width="25px" class="imgmenu">Aprende
            </a>
            <a th:href="@{/materiales}" class="inicioprincipal2">
                <img th:src="@{/img/upload.png}" width="25px" class="imgmenu">Carga Materiales
            </a>
            <a th:href="@{/izada}" class="inicioprincipal2">
                <img th:src="@{/img/estrella.png}" width="25px" class="imgmenu">Izada de bandera
            </a>
        </th:block>

        <!-- Perfil 4: Acudiente -->
        <th:block th:if="${session.perfil == 4}">
            <a th:href="@{/programacion}" class="inicioprincipal2">
                <img th:src="@{/img/programacion.png}" width="25px" class="imgmenu">Programación
            </a>
            <a th:href="@{/aprende}" class="inicioprincipal2">
                <img th:src="@{/img/aprende.png}" width="25px" class="imgmenu">Aprende
            </a>
            <a th:href="@{/contacta}" class="inicioprincipal2">
                <img th:src="@{/img/gmail.png}" width="25px" class="imgmenu">Contacta a un profe
            </a>
            <a th:href="@{/mismateriales}" class="inicioprincipal2">
                <img th:src="@{/img/upload.png}" width="25px" class="imgmenu">Mis Materiales
            </a>
            <a th:href="@{/izada}" class="inicioprincipal2">
                <img th:src="@{/img/estrella.png}" width="25px" class="imgmenu">Izada de bandera
            </a>
        </th:block>

        <!-- Perfil 5: Estudiante -->
        <th:block th:if="${session.perfil == 5}">
            <a th:href="@{/programacion}" class="inicioprincipal2">
                <img th:src="@{/img/programacion.png}" width="25px" class="imgmenu">Programación
            </a>
            <a th:href="@{/aprende}" class="inicioprincipal2">
                <img th:src="@{/img/aprende.png}" width="25px" class="imgmenu">Aprende
            </a>
            <a th:href="@{/contacta}" class="inicioprincipal2">
                <img th:src="@{/img/gmail.png}" width="25px" class="imgmenu">Contacta a un profe
            </a>
            <a th:href="@{/mismateriales}" class="inicioprincipal2">
                <img th:src="@{/img/upload.png}" width="25px" class="imgmenu">Mis Materiales
            </a>
            <a th:href="@{/califica}" class="inicioprincipal2">
                <img th:src="@{/img/califica.png}" width="25px" class="imgmenu">Califica un profe
            </a>
            <a th:href="@{/izada}" class="inicioprincipal2">
                <img th:src="@{/img/estrella.png}" width="25px" class="imgmenu">Izada de bandera
            </a>
        </th:block>
    </aside>

    <main class="contentnoticias">
        <div class="content-noticias">
            <div class="noticias-container">
                <div class="titlenoticias">
                    <div class="imagennoticias"></div>
                    <h2 class="titleprincipalnoticias">Cartelera Informativa</h2>
                </div>
                <br>
                <div>
                    <ul class="noticias-menu">
                        <li class="btnnoticias">
                            <a th:href="@{/noticias}" class="titlesnoticias">
                                <img th:src="@{/img/periodico.png}" alt="Ver noticias" width="25" class="imgtitlenoticias">
                                Noticias
                            </a>
                        </li>
                        <li class="btnnoticias">
                            <a th:href="@{/noticias/crear}" class="titlesnoticias">
                                <img th:src="@{/img/agregar.png}" alt="Crear noticia" width="25" class="imgtitlenoticias">
                                Crear Noticia
                            </a>
                        </li>
                        <li class="btnnoticias">
                            <a th:href="@{/noticias/historial}" class="titlesnoticias">
                                <img th:src="@{/img/historial.png}" alt="Historial noticias" width="25" class="imgtitlenoticias">
                                Historial Noticias
                            </a>
                        </li>
                    </ul>
                </div>

                <div>
                    <form th:action="@{/noticias/guardar}" method="post">
                        <div class="crearnoticicas">
                            <div class="crear">
                                <label for="titulo_noticia" class="labelcrearnoticiaprincipal">Titulo de la noticia:</label>
                                <input type="text" id="titulo_noticia" name="titulo_noticia"
                                       th:value="${oldInput != null ? oldInput.tituloNoticia : ''}" required>

                                <label for="autor_noticia" class="labelcrearnoticia">Autor:</label>
                                <input type="text" id="autor_noticia" name="autor_noticia"
                                       th:value="${oldInput != null ? oldInput.autorNoticia : ''}" required>

                                <label for="fecha_noticia" class="labelcrearnoticia">Fecha publicacion</label>
                                <input type="date" id="fecha_noticia" name="fecha_noticia"
                                       th:value="${oldInput != null ? oldInput.fechaNoticia : ''}" required>

                                <label for="contenido_noticia" class="labelcrearnoticia">Contenido de la noticia</label>
                                <textarea id="contenido_noticia" name="contenido_noticia" required
                                          th:text="${oldInput != null ? oldInput.contenidoNoticia : ''}"></textarea>

                                <div class="btnnoticiascontainer">
                                    <button type="submit" class="btncrearnoticia">Crear Noticia</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </main>

</body>

</html>
