<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Classify - Noticias</title>
    <link rel="stylesheet" href="<?= base_url('css/style.css') ?>">
    <link rel="stylesheet" href="<?= base_url('css/chatbot.css') ?>">
    <link rel="shortcut icon" href="<?= base_url('favicon.ico') ?>" type="image/x-icon">
</head>

<body>
    <header>
        <div class="brand">
            <a href="<?= base_url('login') ?>"><img src="<?= base_url('img/icons/logo.png') ?>" alt="logo" class="logo">
            </a>
            <a href="<?= base_url('login') ?>">Classify</a>
        </div>
        <!-- Saludo personalizado en el header -->
        <?php if (session()->get('nombre') && session()->get('nombre') !== 'Usuario'): ?>
            <div class="saludo-header.opciones">
                Hola, <?= esc(ucfirst(strtolower(session()->get('nombre')))) ?>!
            </div>
        <?php endif; ?>
        <div>
            <div class="right">
                <a href="<?= base_url('noticias') ?>" alt="Noticias">
                    <img src="<?= base_url('img/icons/noticias.png') ?>" class="iconostop">
                </a>
                <a><img src="<?= base_url('img/icons/separador.png') ?>" class="separador">
                </a>
                <a href="<?= base_url('login') ?>" alt="Cerrar sesión">
                    <img src="<?= base_url('img/icons/salida.png') ?>" class="salida">
                </a>
            </div>
        </div>
    </header>

    <aside class="sidebar">
        <!-- botón comun para todos-->
        <a href="<?= base_url('menu') ?>" class="inicioprincipal">
            <img src="<?= base_url('img/icons/home.png') ?>" width="25px" class="imgmenu"> Inicio
        </a>

        <!-- Programación (Perfil 1 administrador)  -->
        <?php if (session()->get('perfil') == 1): ?>
            <a href="<?= base_url('agenda') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/agenda.png') ?>" width="25px" class="imgmenu">Agendar clase
            </a>
            <a href="<?= base_url('programacion') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/programacion.png') ?>" width="25px" class="imgmenu">Programación
            </a>
            <a href="<?= base_url('aprende') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/aprende.png') ?>" width="25px" class="imgmenu">Aprende
            </a>
            <a href="<?= base_url('contacta') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/gmail.png') ?>" width="25px" class="imgmenu">Contacta a un profe
            </a>
            <a href="<?= base_url('mismateriales') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/descargamaterial.png') ?>" width="25px" class="imgmenu">Mis Materiales
            </a>
            <a href="<?= base_url('materiales') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/upload.png') ?>" width="25px" class="imgmenu">Carga Materiales
            </a>
            <a href="<?= base_url('califica') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/califica.png') ?>" width="25px" class="imgmenu">Califica un profe
            </a>
            <a href="<?= base_url('izada') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/estrella.png') ?>" width="25px" class="imgmenu"">Izada de bandera
            </a>
            <a href=" <?= base_url('notas') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/notas.png') ?>" width="25px" class="imgmenu">Notas
            </a>
        <?php endif; ?>

        <!-- Programación (Perfil 2 coordinador) -->
        <?php if (session()->get('perfil') == 2): ?>
            <a href="<?= base_url('agenda') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/agenda.png') ?>" width="25px" class="imgmenu">Agendar clase
            </a>
            <a href="<?= base_url('programacion') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/programacion.png') ?>" width="25px" class="imgmenu">Programación
            </a>
            <a href="<?= base_url('aprende') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/aprende.png') ?>" width="25px" class="imgmenu">Aprende
            </a>
            <a href="<?= base_url('contacta') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/gmail.png') ?>" width="25px" class="imgmenu">Contacta a un profe
            </a>
            <a href="<?= base_url('materiales') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/upload.png') ?>" width="25px" class="imgmenu">Carga Materiales
            </a>
            <a href="<?= base_url('califica') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/califica.png') ?>" width="25px" class="imgmenu">Califica un profe
            </a>
            <a href="<?= base_url('izada') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/estrella.png') ?>" width="25px" class="imgmenu">Izada de bandera
            </a>
            <a href="<?= base_url('notas') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/notas.png') ?>" width="25px" class="imgmenu">Notas
            </a>
        <?php endif; ?>

        <!-- Programación (Perfil 3 docente) -->
        <?php if (session()->get('perfil') == 3): ?>
            <a href="<?= base_url('programacion') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/programacion.png') ?>" width="25px" class="imgmenu">Programación
            </a>
            <a href="<?= base_url('aprende') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/aprende.png') ?>" width="25px" class="imgmenu">Aprende
            </a>
            <a href="<?= base_url('materiales') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/upload.png') ?>" width="25px" class="imgmenu">Carga Materiales
            </a>
            <a href="<?= base_url('izada') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/estrella.png') ?>" width="25px" class="imgmenu">Izada de bandera
            </a>
        <?php endif; ?>

        <!-- Programación (Perfil 4 acudiente) -->
        <?php if (session()->get('perfil') == 4): ?>
            <a href="<?= base_url('programacion') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/programacion.png') ?>" width="25px" class="imgmenu">Programación
            </a>
            <a href="<?= base_url('aprende') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/aprende.png') ?>" width="25px" class="imgmenu">Aprende
            </a>
            <a href="<?= base_url('contacta') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/gmail.png') ?>" width="25px" class="imgmenu">Contacta a un profe
            </a>
            <a href="<?= base_url('mismateriales') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/upload.png') ?>" width="25px" class="imgmenu">Mis Materiales
            </a>
            <a href="<?= base_url('izada') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/estrella.png') ?>" width="25px" class="imgmenu">Izada de bandera
            </a>
        <?php endif; ?>

        <!-- Programación (Perfil 5 estudiante) -->
        <?php if (session()->get('perfil') == 5): ?>
            <a href="<?= base_url('programacion') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/programacion.png') ?>" width="25px" class="imgmenu">Programación
            </a>
            <a href="<?= base_url('aprende') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/aprende.png') ?>" width="25px" class="imgmenu">Aprende
            </a>
            <a href="<?= base_url('contacta') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/gmail.png') ?>" width="25px" class="imgmenu">Contacta a un profe
            </a>
            <a href="<?= base_url('mismateriales') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/upload.png') ?>" width="25px" class="imgmenu">Mis Materiales
            </a>
            <a href="<?= base_url('califica') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/califica.png') ?>" width="25px" class="imgmenu">Califica un profe
            </a>
            <a href="<?= base_url('izada') ?>" class="inicioprincipal2">
                <img src="<?= base_url('img/icons/estrella.png') ?>" width="25px" class="imgmenu">Izada de bandera
            </a>
        <?php endif; ?>



    </aside>

    <main class="contentnoticias">
        <div class="content-noticias">
            <div class="noticias-container">
                <div class="titlenoticias">
                    <div class="imagennoticias">

                    </div>
                    <h2 class="titleprincipalnoticias">Cartelera Informativa</h2>
                </div>
                <br>
                <div>
                    <ul class="noticias-menu">
                        <li class="btnnoticias"><a href="<?= base_url('noticias') ?>" class="titlesnoticias"><img
                                    src="<?= base_url('img/icons/periodico.png') ?>" alt="Ver noticias" width="25"
                                    class="imgtitlenoticias">Noticias</a></li>
                        <li class="btnnoticias"><a href="<?= base_url('noticias/crear') ?>" class="titlesnoticias"><img
                                    src="<?= base_url('img/icons/agregar.png') ?>" alt="Crear noticia" width="25"
                                    class="imgtitlenoticias"> Crear Noticia</a></li>
                        <li class="btnnoticias"><a href="<?= base_url('noticias/historial') ?>"
                                class="titlesnoticias"><img src="<?= base_url('img/icons/historial.png') ?>"
                                    alt="Historial noticias" width="25" class="imgtitlenoticias"> Historial Noticias</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <?php if (isset($noticia)): ?>
                        <form action="<?= base_url('noticias/actualizar/' . $noticia['id_noticia']) ?>" method="post">
                            <?= csrf_field() ?>
                            <div class="crearnoticicas">
                                <div class="crear">
                                    <label for="Titulo">Titulo de la noticia:</label>
                                    <input type="text" id="titulo_noticia" name="titulo_noticia"
                                        value="<?= old('titulo_noticia', esc($noticia['titulo_noticia'])) ?>" required>
                                    <label for="autor">Autor: </label>
                                    <input type="text" id="autor_noticia" name="autor_noticia"
                                        value="<?= old('autor_noticia', esc($noticia['autor_noticia'])) ?>" required>
                                    <label for="fecha">Fecha publicacion</label>
                                    <input type="date" id="fecha_noticia" name="fecha_noticia"
                                        value="<?= old('fecha_noticia', esc($noticia['fecha_noticia'])) ?>" required>
                                    <label for="contenido">Contenido de la noticia</label>
                                    <textarea id="contenido_noticia" name="contenido_noticia"
                                        required><?= old('contenido_noticia', esc($noticia['contenido_noticia'])) ?></textarea>
                                    <div style="display:flex;gap:8px;margin-top:10px;align-items:center;">
                                        <button type="submit" class="btnactualizarnoticia">Actualizar Noticia</button>
                        
                                    </div>
                                </div>
                            </div>
                        </form>
                    <?php else: ?>
                        <p class="parrafonoticias">No hay noticias disponibles.</p>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        </div>
    </main>
    <script src="js/script.js"></script>
</body>

</html>