<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Classify - Menu</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/chatbot.css}">
    <link rel="shortcut icon" th:href="@{img/favicon.ico}" type="image/x-icon">
</head>

<body>
    <header class="brandinicio">
        <div class="brand">
            <a th:href="@{/inicio}"><img th:src="@{/img/logo.png}" alt="logo" class="logo"></a>
            <a th:href="@{/inicio}">Classify</a>
        </div>
    
        <div class="brand2">
            <a th:href="@{/inicio}" class="info-btn" alt="Información">Inicio</a>
            <a th:href="@{/nosotros}" class="info-btn" alt="Información">Nosotros</a>
            <a th:href="@{/contacto}" class="info-btn" alt="Información">Contacto</a>

        </div>
    
        <div>
            <a href="#info" class="info-btn">
                <img th:src="@{/img/informacion.png}" alt="Información" class="info-icon">
            </a>
            <div id="info" class="info-panel">
                <div class="info-content">
                    <a href="#" class="close">&times;</a>
                    <img th:src="@{/img/agenda.png}" width="80px">
                    <h4>¿Porque agendas tus clases?</h4>
                    <p class="textoinfo">La implementación de una página web para agendar clases en el colegio Moralba Sur
                        Oriental representa una herramienta fundamental para optimizar la organización académica y fortalecer
                        la comunicación entre estudiantes, docentes y la institución.
                        En primer lugar, la plataforma permite a los estudiantes y padres de familia consultar de manera
                        rápida y sencilla la disponibilidad de horarios, evitando confusiones o cruces en las actividades
                        escolares. <br><br>Esto garantiza una mejor planificación del tiempo, tanto dentro como fuera del
                        aula.
                        Por otro lado, los docentes pueden gestionar sus clases de forma más eficiente, teniendo acceso a un
                        calendario actualizado que facilita la asignación de sesiones, el control de grupos y la preparación
                        de materiales según la programación establecida. <br><br>
                        Asimismo, para la institución educativa, la página constituye una herramienta de gestión que
                        contribuye a la transparencia y al orden administrativo, ya que centraliza la información en un solo
                        espacio digital accesible desde cualquier dispositivo con conexión a internet. <br><br>
                        En conclusión, contar con una página para agendar clases no solo mejora la organización interna del
                        colegio Moralba Sur Oriental, sino que también fortalece la participación de la comunidad educativa,
                        fomenta la puntualidad, evita pérdidas de tiempo y favorece un proceso de enseñanza-aprendizaje más
                        planificado y efectivo.
                    </p>
                </div>
            </div>
        </div>
    </header>

    <div class="menu-toggle" id="menuToggle">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <aside class="sidebar">
        <!-- botón común para todos -->
        <a th:href="@{/menu}" class="inicioprincipal">
            <img th:src="@{/img/home.png}" width="25px" class="imgmenu"> Inicio
        </a>

            <a th:href="@{/agenda}" class="inicioprincipal2">
                <img th:src="@{/img/agenda.png}" width="25px" class="imgmenu">Agendar clase
            </a>

            <a th:href="@{/noticias}" class="inicioprincipal2">
                <img th:src="@{/img/noticias.png}" width="25px" class="imgmenu">Noticias
            </a>
            <a th:href="@{/programacion}" class="inicioprincipal2">
                <img th:src="@{/img/programacion.png}" width="25px" class="imgmenu">Programación
            </a>
            <a th:href="@{/aprende}" class="inicioprincipal2">
                <img th:src="@{/img/aprende.png}" width="25px" class="imgmenu">Aprende
            </a>
            <a th:href="@{/contacta}" class="inicioprincipal2">
                <img th:src="@{/img/gmail.png}" width="25px" class="imgmenu">Contacta a un profe
            </a>
            <a th:href="@{/mismateriales}" class="inicioprincipal2">
                <img th:src="@{/img/descargamaterial.png}" width="25px" class="imgmenu">Mis Materiales
            </a>
            <a th:href="@{/materiales}" class="inicioprincipal2">
                <img th:src="@{/img/upload.png}" width="25px" class="imgmenu">Carga Materiales
            </a>
            <a th:href="@{#}" class="inicioprincipal3" id="btnConfig">
                <img th:src="@{/img/config.png}" width="25px" class="imgmenu3">Configuración
            </a>
    </aside>

    <!-- Modalconfig -->
    <div id="modalConfig" class="modal-config">
        <div class="modal-config-content">
            <div class="modal-config-header">
                <h3>Configuración</h3>
                <span class="modal-config-close">&times;</span>
            </div>
            <div class="modal-config-body">
                <a th:href="@{#}" class="cerrarsesion">Cerrar Sesion</a>
            </div>
        </div>
    </div>

    <main class="contentprincipal">
        
    </main>

    

    <!-- <script th:src="@{/js/preloader.js}"></script> -->
    <!-- <script th:src="@{/js/skeleton.js}"></script> -->


    <script th:src="@{/js/chatbot.js}"></script>
    <script th:src="@{/js/cambiar_password.js}"></script>
    <script th:src="@{/js/config.js}"></script>
</body>

</html>